<!-- MENU -->
<div class="kuiLocalNav">
    <div class="kuiLocalNavRow">
        <div class="kuiLocalNavRow__section">
            <div class="kuiLocalTitle">
                Robocop
            </div>
        </div>
    </div>

    <div class="kuiLocalNavRow kuiLocalNavRow--secondary">
        <div class="kuiLocalTabs">
            <a class="kuiLocalTab {{navbarPage == 'overview' ? 'kuiLocalTab-isSelected' : ''}}" kbn-href="#/">
                Overview
            </a>
            <a class="kuiLocalTab {{navbarPage == 'alert' ? 'kuiLocalTab-isSelected' : ''}}" kbn-href="#/alert">
                Alert
            </a>
            <a class="kuiLocalTab {{navbarPage == 'history' ? 'kuiLocalTab-isSelected' : ''}}" kbn-href="#/history">
                History
            </a>
            <a class="kuiLocalTab {{navbarPage == 'cron' ? 'kuiLocalTab-isSelected' : ''}}" kbn-href="#/cron">
                Cron
            </a>
            <a class="kuiLocalTab {{navbarPage == 'management' ? 'kuiLocalTab-isSelected' : ''}}" kbn-href="#/management">
                Management
            </a>
            <a ng-if="navbarPage == 'log' || navbarPage == 'management'" class="kuiLocalTab {{navbarPage == 'log' ? 'kuiLocalTab-isSelected' : ''}}" kbn-href="#/management/log">
                Log
            </a>
        </div>
    </div>
</div>
<!-- END MENU -->
